@charset "utf-8";

.back-to-top {
  padding: 4px 10px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 500;
  color: #999;
}
.back-to-top:hover {
  color: #3d3d7c;
  text-decoration: none;
}

.docs-footer {
  padding-bottom: 40px;
  color: #777;
  text-align: center;
}
.docs-footer > .container {
	border-top: 1px solid #e5e5e5;
	padding-top: 2.5em;
}

.docs-footer-links {
  padding-left: 0;
  margin-top: 20px;
  color: #999;
}
.docs-footer-links li {
  display: inline;
  padding: 0;
}
.docs-footer-links li:after {
    content: "\0000a0–";
}
.docs-footer-links li:last-child:after {
    content: "";
}
.docs-footer-links li:first-child {
  padding-left: 0;
}
.docs-footer-links li.active a { font-weight: bold; }

@media (min-width: 768px) {
  .docs-footer p {
    margin-bottom: 0;
  }
}

h1, h2 {
	font-weight: bold;
}

.u-pull-right {
  float: right !important; }
.u-pull-left {
  float: left !important; }

a {
text-decoration: none;
}

.nav {
	margin: 0;
	padding-left: 0;
	list-style: none;
}

.nav > li {
	position: relative;
	display: block;
	margin-bottom: 0px;
}

.nav > li > a {
	position: relative;
	display: block;
	padding: 10px 15px;
}
.nav li > a {
	display: block;
	padding: 4px 20px;
	font-size: 13px;
	font-weight: 500;
	color: #999;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}
.nav .active > a {
	padding-left: 18px;
	font-weight: bold;
	color: #563d7c;
	background-color: transparent;
	border-left: 2px solid #563d7c;
	}

#docs-aside { margin-left: 1em; margin-top: 50px; }
ul.docs-sidenav.nav { margin-bottom: 1em; }
